

a{
    
    text-decoration: none;
}

ion-icon{
    font-size: clamp(24px,5vw,64px);  
    
}

p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: clamp(16px,5vw,32px);
}

.active{
    color: green;
}