
  <ion-grid  >
    <ion-row class="ion-justify-content-center"  >
      <ion-col size="3">
        <a routerLink="/home">
          <p routerLinkActive="active" >
            <ion-icon name="home"></ion-icon>
            Home
          </p>
        </a>
      </ion-col>
      <ion-col size="3">
        <a routerLink="/pages/aqiqah">
          <p routerLinkActive="active" >
            <ion-icon  name="restaurant"></ion-icon>
            Aqiqah
          </p>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

